.GalleryItem {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
        -23px 0 20px -23px rgba(0, 0, 0, 0.8),
        23px 0 20px -23px rgba(0, 0, 0, 0.8), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.GalleryItemImage {
    width: 100%;
    height: auto;
}
.GalleryItemTitle {
    padding-bottom: 10px;
}
